body{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    margin: 5px, 15px, 5px, 15px;
    padding: 0;
    background-color: rgba(46, 49, 45, 0.738);

}

h1,h2,h3{
    
    color: rgb(189, 232, 240);
    font-weight: lighter;
    text-align: center;
       
    
}

#tabla1{
    background-color: rgb(246, 198, 136);
}

