body{
<text-aligne><center>
#diasycondicion{

    background-color: cornflowerblue;
}

#mike{

    background-color: darkolivegreen;
}

#tara{

    background-color: blueviolet;
}

#distanciamike{

    background-color: rgb(45, 170, 45);
}

#distanciatara{

    background-color: rgb(158, 126, 173);
}

#tiempo{

    background-color: rgb(151, 176, 222);
}
<center><text-aligne>

}

